@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@media screen and (max-width: 768px) {
  @keyframes anniOut {
    from {
      display: block;
    }
    to {
      display: none;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(-150%);
      opacity: 0;
      display: none;
    }
  }

  @keyframes slideDown {
    0% {
      visibility: hidden !important;
      transform: translateY(-200%);
    }
    50% {
      visibility: visible !important;
      transform: translateY(-100%);
    }
    100% {
      visibility: visible !important;
      transform: translateY(0%);
    }
  }

  .ani_delay_1 {
    animation-delay: 0.1s !important;
  }

  .ani_delay_2 {
    animation-delay: 0.2s !important;
  }

  .ani_delay_4 {
    animation-delay: 0.4s !important;
  }

  .ani_down_delay_1 {
    animation-delay: 0.8s !important;
  }

  .ani_down_delay_2 {
    animation-delay: 1s !important;
  }

  .ani_down_delay_3 {
    animation-delay: 1.2s !important;
  }

  .anniSlideDown {
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    transition: opacity 0.5s;
  }

  .anniSlideUp {
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-delay: 0.02s; */
  }
  .nav-items.active {
    display: block;
    font-size: 2rem;
    flex-direction: column;
    color: #bebebe;
  }
  .nav-items {
    flex-direction: column;
    font-size: 2rem;
    display: block;
    color: #bebebe;
  }
  .nav-items-md {
    display: none;
  }
  .d-none {
    display: none;
  }
  .logo-mobile {
    position: fixed;
    top: 30px;
    left: 15px;
    z-index: 150;
  }
}

.burger {
  border: none;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 200;
  cursor: pointer;
  color: #000;
}
.nav-items.active {
  display: block;
  font-size: 2rem;
  flex-direction: column;
  color: #bebebe;
}
.nav-items {
  flex-direction: column;
  font-size: 2rem;
  display: block;
  color: #bebebe;
}
.nav-items-md {
  display: none;
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  width: 100%;
  height: 2px;
  --tw-bg-opacity: 1;
  background-color: rgb(131 56 236 / var(--tw-bg-opacity));
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 100;
}
